# vagrant
.vagrant

#log

*.log

# Binaries for programs and plugins
brick
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out
